* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

html {
  min-height: 100%;
}

body {
  background-image: url("/public/images/white-theme-bg.png");
  background-size: 80%;
  background-attachment: fixed;
  min-height: 100%;
}

/* Logo.  */

.logo {
  display: inline;
  max-width: 200px;
  color: black;
}

.logo-text {
  font-size: 22px;
  font-weight: 700;
  font-family: 'Source Serif 4', sans-serif;
}

.logo-text span {
  font-family: 'Source Serif 4', sans-serif;
  font-weight: 400;
}

.logo-motto {
  font-size: 13px;
}

/* Button.  */

.btn {
  padding: .7rem 2rem .7rem 2rem;
  background-color: white;
  color: black;
  cursor: pointer;
  border: 1px solid black;
  text-decoration: none;
}

.btn:hover {
  background-color: black;
  color: white;
}

.btn.filled {
  background-color: black;
  color: white;
}

/* Title header.  */

.title-header {
  margin-bottom: 3rem;
}

.title-header-text {
  font-size: clamp(2rem, 5vw, 5vw);
  font-weight: 200;
}

.title-header-text span {
  font-weight: 700;
}

.title-header .api-endpoint {
  font-size: clamp(.8rem, 1vw, 1vw);
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}


.title-header .api-endpoint:hover {
  color: black;
}

/* Wrapper.  */

.site-wrapper {
  width: 80%;
  min-height: 100%;
  margin: auto;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding-left: 8%;
  padding-right: 8%;
  max-width: 1570px;
  display: block;
}

@media screen and (max-width: 510px) {
  .site-wrapper {
    padding-left: 6%;
    padding-right: 6%;
  }
}

.main {
  min-height: 70%;
}

/* Header and navigation.  */

.header {
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header *, #backdrop {
  transition: all 300ms;
}

.navigation-menu-bars {
  display: none;
  cursor: pointer;
  text-align: center;
  line-height: normal;
  padding: .5rem;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-header h2 {
  display: none;
}

.navigation-closer  {
  cursor: pointer;
  color: black;
  display: none;
  opacity: 0;
}

.navigation-closer  {
  opacity: 1;
}

.navigation-closer:hover  {
  text-decoration: underline;
}

.navigation-list {
  display: flex;
  list-style: none;
}

.navigation-list-item:not(:last-child):after {
  content: "";
  position: relative;
  width: 3px;
  height: 3px;
  background: black;
  display: inline-block;
  top: -3px;
  margin: 0 8px 0 8px;
  border-radius: 3px;
}

.navigation-list-item a {
  border-bottom: 1px solid transparent;
  padding-bottom: .1rem;
  text-decoration: none;
  color: black;
}

.navigation-list-item a.selected {
  border-bottom: 1px solid black;
  font-weight: bolder;
}

.navigation-list-item a:hover,
.navigation-list-item a:visited {
  border-bottom: 1px solid black;
}

#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: rgb(0, 0, 0, .25);
  opacity: 0;
}

@media screen and (max-width: 1120px) {
  .navigation {
    display: block;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: white;
    z-index: 1;
    padding-top: 3rem;
  }

  .navigation-closer  {
    display: block;
  }

  .navigation-menu-bars {
    display: block;
  }

  .navigation h2 {
    display: block;
    margin-bottom: .5rem;
  }

  .navigation.show {
    opacity: 1;
    width: 300px;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .navigation.show ul li a,
  .navigation.show h2 {
    opacity: 1;
  }

  .navigation-list-item {
    padding: 0;
  }

  .navigation-list-item:not(:last-child):after {
    display: none;
  }

  .navigation-list-item a,
  .navigation h2 {
    opacity: 0;
  }

  .navigation-list {
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .navigation-list-item {
    width: 100%;
  }

  .navigation-list-item a {
    display: block;
    width: 100%;
    height: 100%;
    padding: .5rem .5rem .5rem 0;
  }

  #backdrop.show {
    width: 100%;
    opacity: 1;
  }
}

@media screen and (max-width: 510px) {
  .navigation.show {
    width: 100%;
  }

  #backdrop {
    display: none;
  }
}

/* Footer.  */

.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.footer-content p {
  font-family: 'Source Serif 4', sans-serif;
  font-size: 11px;
}

/* Me page.  */

.me {
  width: 100% !important;
  display: flex;
}

.info-article {
  width: 50%;
}

.info-article .name {
  font-size: clamp(2.5rem, 4vw, 4vw);
  font-weight: 200;
}

.info-article .name span {
  font-weight: 700;
}

.info-article .job-title {
  font-size: clamp(1.5rem, 1vw, 1vw);
  font-weight: 400;
  margin-top: 15px;
}

.info-article .job-title span {
  font-weight: 600;
}

.info-article .summary-container {
  padding-top: 33px;
}

.info-article .summary-container p {
  font-family: 'Source Serif 4', sans-serif;
  font-size: clamp(16px, 1vw, 1vw);
}

.info-article .contact-icons {
  width: 50%;
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
  padding-top: 30px;
}

.info-article .contact-icons a {
  font-size: 24px;
  color: black;
  padding: .3rem;
  border: 1px solid transparent;
}

.info-article .contact-icons a:hover {
  border: 1px solid black;
}

.info-article .email {
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.info-article .buttons-container {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.info-article .buttons-container * {
  margin-right: 1rem;
}

@media screen and (max-width: 510px) {
  .info-article .contact-icons {
    width: 100% !important;
  }

  .info-article .buttons-container {
    display: flex;
    flex-wrap: wrap;
  }

  .info-article .buttons-container * {
    margin-right: 0;
    margin-bottom: 1rem;
    width: 100%;
  }
}

.info-article .bottom-line {
  font-family: 'Source Serif 4', sans-serif;
}

.photo-article {
  width: 50%;
}

.photo-article {
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo-article img {
  width: 80%;
}

@media screen and (max-width: 1220px) {
  .info-article .contact-icons {
    width: 100%;
  }
}

@media screen and (max-width: 1120px) {
  .info-article .contact-icons {
    width: 60%;
  }

  .info-article p.my-name {
    font-size: clamp(3.5rem, 4vw, 4vw);
  }

  .info-article .my-summary-container {
    max-width: 38rem;
  }

  .me {
    flex-wrap: wrap;
  }

  .info-article {
    width: 100%;
  }

  .photo-article {
    margin-top: 3rem;
    width: 100%;
  }

  .photo-article img {
    width: 80%;
  }
}

@media screen and (max-width: 720px) {
  .photo-article img {
    width: 90%;
  }
}

@media screen and (max-width: 610px) {
  .photo-article img {
    width: 100%;
  }
}

/* Experience page.  */

.experience-list-tile {
  display: flex;
  position: relative;
}

.experience-list-tile .line {
  position: absolute;
  background-color: black;
  width: 1px;
  height: 100%;
}

.experience-list-tile .dates-container {
  min-width: 260px;
  text-align: left;
  padding-left: 3rem;
}

.experience-list-tile .dates-container .dates-text {
  font-weight: 700;
}

.experience-list-tile .spot {
  position: absolute;
  background-color: black;
  width: 14px;
  height: 14px;
  left: -7px;
  border-radius: 50%;
}

.experience-list-tile:last-child .dates-container {
  height: 13px;
}

.experience-list-tile .content-container {
  min-height: 200px;
  padding-bottom: 2rem;
}

.experience-list-tile .content-container .job-title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: .5rem;
}

.experience-list-tile .content-container .company-and-location {
  font-weight: 500;
  margin-bottom: 1rem;
  font-style: italic;
}

.experience-list-tile .content-container .summary {
  font-family: 'Source Serif 4', sans-serif;
}

@media screen and (max-width: 1120px) {
  .experience-list-tile {
    flex-wrap: wrap;
  }

  .experience-list-tile .dates-container {
    padding-left: 30px;
  }

  .experience-list-tile .content-container {
    padding-left: 30px;
  }

  .experience-list-tile .content-container .info-article .job-title {
    padding-top: 1rem;
  }
}
