package ui

templ Footer() {
  <footer class="footer">
    <div class="footer-header">
      @Logo()
    </div>
    <div class="footer-content">
      <p>All rights reserved.</p>
    </div>
  </footer>
}
